/* Cores Primarias */
$black: #000;
$grey: #888888;
$light-grey: #d8d8d8;
$white: #fff;
$green: green;
$red: red;
$yellow: #ffff00;
$blue: blue;

/* Padrão Visual */
$button-default: $black;
$button-error: $red;
$button-success: $blue;
$button-warning: $yellow;

$theme-notification-default: $white;
$theme-notification-succes: $green;
